.heightAdjustedImage {
  @mixin section-article-common-spacing;

  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  margin-inline: auto;

  &.HasCaption {
    margin-bottom: calc(
      var(--spacing-article-parts-common-sp) + 12px
    ); /* なぜかキャプションの高さが相殺されるので仕方なくトリッキーな指定をしている */
  }

  > .figure {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  > .caption {
    margin-top: 10px;
  }
}

@media (--pc) {
  .heightAdjustedImage {
    max-width: var(--article-media-max-width-for-pc);
    aspect-ratio: 16 / 9;

    &.HasCaption {
      margin-bottom: calc(
        var(--spacing-article-parts-common-pc) + 16px
      ); /* なぜかキャプションの高さが相殺されるので仕方なくトリッキーな指定をしている */
    }
  }
}
