.imageTextRow {
  display: flex;
  flex-direction: column;

  @mixin section-article-common-spacing;

  > .figure {
    margin-inline: auto;
    text-align: center;

    > .img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  > .text {
    @mixin article-paragraph;
    @mixin section-article-common-spacing;

    white-space: pre-wrap;
  }
}

@media (--pc) {
  .imageTextRow {
    --pc-gap: 80px;

    flex-direction: row;
    gap: var(--pc-gap);
    align-items: center;

    > .figure {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      width: calc((100% - var(--pc-gap)) / 2);
      max-width: calc((100% - var(--pc-gap)) / 2);
      margin-inline: 0;
    }

    > .text {
      width: calc((100% - var(--pc-gap)) / 2);
      min-width: 0;
      max-width: calc((100% - var(--pc-gap)) / 2);
      margin-top: 0;
    }
  }
}
