.commentPostModal {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > .error {
    padding-left: 4px;
    font-size: 10px;
    color: var(--color-vivid-red);
  }

  > .footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    > .button {
      width: 100%;
    }
  }
}

@media (--pc) {
  .commentPostModal {
    gap: 24px;

    > .footer {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      > .button {
        width: 126px;
      }
    }
  }
}
