.articleList {
  padding: 24px 16px;
  background-color: var(--color-white);

  > .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  > .pagination {
    margin-top: 36px;
  }
}

@media (--pc) {
  .articleList {
    border-radius: 16px;

    > .list {
      gap: 32px;
    }

    > .pagination {
      margin-top: 48px;
    }
  }
}
