@import url("/src/styles/post.css");

.commentView {
  padding: 16px 24px 32px;
  margin-top: 32px;
  background-color: var(--color-white);
  border-radius: 24px;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .left {
      display: flex;
      gap: 2px;
      align-items: center;

      > .text {
        @mixin noto-sans-text-adjust;

        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
