.errorView {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 28px 24px;
  color: var(--color-text-gray);

  > .code {
    font-family: FugazOne, sans-serif;
    font-size: 80px;
  }

  > .english {
    font-size: 18px;
    font-weight: bold;
  }

  > .japanese {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;

    &.EmptyPage {
      text-align: center;
      overflow-wrap: anywhere;
    }
  }
}

@media (--pc) {
  .errorView {
    gap: 20px;
    align-items: flex-start;
    padding: 24px 0;

    > .code {
      font-size: 128px;
    }

    > .english {
      font-size: 36px;
    }

    > .japanese {
      font-size: 32px;

      &.EmptyPage {
        text-align: left;
        white-space: pre-wrap;
      }
    }
  }
}
