/* stylelint-disable css-modules-kit/no-unused-class-names */
.imageComponent {
  display: block;

  &.AlignStart {
    text-align: start;
  }

  &.AlignCenter {
    text-align: center;
  }

  &.AlignEnd {
    text-align: end;
  }
}

.imgTag {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;

  &.Contained {
    object-fit: contain;
  }

  &.Circle {
    border-radius: 50%;
  }

  &.WidthFull {
    width: 100%;
  }

  &.HeightFull {
    height: 100%;
  }

  &.HeightAuto {
    height: auto;
  }

  &.Wide {
    aspect-ratio: 16 / 9;
  }

  &.BorderRadius16 {
    border-radius: 16px;
  }

  &.BorderRadius0 {
    border-radius: 0;
  }
}

.imageCaption {
  margin-top: 10px;
}
