.accordionInfo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  @mixin section-article-common-spacing;

  > .main {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;

    > .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      color: var(--color-light-dark);
      cursor: pointer;
      outline: 0;
      background: linear-gradient(
        to bottom,
        var(--color-gradient-silver-start) 0%,
        var(--color-gradient-silver-end) 100%
      );

      > .left {
        display: flex;
        gap: 4px;
        align-items: center;

        > .icon {
          width: 18px;
          height: 18px;
        }

        > .label {
          padding: 2px 4px;
          font-family: Gabarito, sans-serif;
          font-size: 10px;
          font-weight: bold;
          border: solid 1px;
          border-radius: 4px;
        }

        > .title {
          @mixin noto-sans-text-adjust;

          font-size: 14px;
        }
      }

      /* stylelint-disable-next-line no-descending-specificity */
      > .icon {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.sectionBody {
  @mixin article-paragraph;

  display: grid;
  place-items: center;
  height: 0;
  padding: 0 16px; /* 垂直方向のpaddingを指定すると、アコーディオンを開いた時にアニメーションが滑らかではなくなるので、別の箇所で擬似的に指定する。 */
  background-color: var(--color-dull-white);
  opacity: 0;

  &.Hidden {
    position: absolute;
    visibility: hidden;
  }

  > .text {
    white-space: pre-wrap;
    opacity: 0;
  }
}

@media (--pc) {
  .accordionInfo {
    > .main {
      max-width: 650px;

      > .title {
        font-size: 16px;
      }
    }
  }

  .sectionBody {
    &.Hidden {
      max-width: 650px;
    }
  }
}
