.codeBlock {
  @mixin section-article-common-spacing;

  overflow: hidden;
  background-color: var(--color-codeblock-background);
  border-radius: 4px;

  /* デフォルトだとFigmaより文字が太くなるので調整 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 12px;

    > .language {
      --padding-side: 12px;
      --left-minus-margin: -5px;

      display: grid;
      place-items: center;
      width: fit-content;
      padding: 4px var(--padding-side) 4px
        calc(var(--padding-side) + calc(var(--left-minus-margin) * -1));
      margin-left: var(--left-minus-margin);
      border-bottom-right-radius: 4px;
      transform: skew(-28deg);

      > .text {
        @mixin noto-sans-text-adjust;

        display: inline-block;
        font-family: Gabarito, "Noto Sans JP", sans-serif;
        font-size: 12px;
        transform: skew(28deg);

        &.White {
          color: var(--color-white);
        }
      }
    }
  }
}

.topRightIcon {
  width: 16px;
  height: 16px;

  &.Check {
    fill: var(--color-white);
  }
}

@media (--pc) {
  .codeBlock {
    > .header {
      > .language {
        padding-top: 6px;
        padding-bottom: 6px;

        > .text {
          font-size: 14px;
        }
      }
    }
  }
}
