@import url("/src/styles/post.css");

.codeBlock {
  @mixin article-section-margin-half;

  overflow: hidden;
  border-radius: 4px;

  > .language {
    padding: 8px 16px;
    font-size: 12px;
    color: var(--color-white);
    background: linear-gradient(
      to bottom,
      var(--color-gradient-header-start) 0%,
      var(--color-gradient-header-end) 100%
    );
  }
}
