.tableWithoutHeader {
  @mixin section-article-common-spacing;

  > .main {
    width: 100%;

    > tbody {
      @mixin tbody-common;

      > tr {
        &:not(:last-child) {
          border-bottom: solid 1px var(--color-light-gray);
        }

        > td {
          overflow-wrap: anywhere;

          &:not(:last-child) {
            border-right: solid 1px var(--color-light-gray);
          }
        }
      }
    }
  }
}
