@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Staatliches;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Staatliches-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Gabarito;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Gabarito-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Gabarito;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Gabarito-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: GreycliffCF;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GreycliffCF-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "HackGen35";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/HackGen35-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: FugazOne;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/FugazOne-Regular.woff2") format("woff2");
  font-display: swap;
}
