@import url("./destyle.css");
@import url("./font.css");
@import url("./variable.css");

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1;
  color: var(--color-text-dark);
  background-color: var(--color-page-background);
  fill: var(--color-text-dark);
}
