/* PC表示のカスタムメディアクエリ */
@custom-media --pc (min-width: 1000px);

/* 記事に並ぶパーツにmarginを設ける */
@define-mixin article-section-margin {
  margin-top: var(--margin-top-article-section-sp);

  @media (--pc) {
    margin-top: var(--margin-top-article-section-pc);
  }
}

/* 記事に並ぶパーツにmarginを設ける (半分バージョン) */
@define-mixin article-section-margin-half {
  margin-top: calc(var(--margin-top-article-section-sp) / 2);

  @media (--pc) {
    margin-top: calc(var(--margin-top-article-section-pc) / 2);
  }
}

/** 最大表示行数を指定する (それ以降は三点リーダーで省略) */
@define-mixin max-lines $lines {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/** 記事本文のスタイル */
@define-mixin article-paragraph {
  font-size: 14px;
  line-height: 1.875;

  @mixin article-section-margin-half;

  @media (--pc) {
    font-size: 16px;
  }
}
