/* PC表示のカスタムメディアクエリ */
@custom-media --pc (min-width: 1000px);

/* 記事中に登場するパーツの共通Spacing (見出しと段落を除く) */
@define-mixin section-article-common-spacing {
  margin: var(--spacing-article-parts-common-sp) 0;

  @media (--pc) {
    margin: var(--spacing-article-parts-common-pc) 0;
  }
}

/** 最大表示行数を指定する (それ以降は三点リーダーで省略) */
@define-mixin max-lines $lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

/** 記事本文のスタイル */
@define-mixin article-paragraph {
  font-size: 14px;
  line-height: 1.875;

  @media (--pc) {
    font-size: 16px;
  }
}

/* Noto Sans特有の文字が若干下にずれる問題の対処 */
@define-mixin noto-sans-text-adjust {
  text-box: trim-both cap alphabetic;
}

/* tbody共通スタイル */
@define-mixin tbody-common {
  outline: solid 1px var(--color-light-gray);
  outline-offset: -1px;
  background-color: transparent;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  > tr {
    &:nth-child(even) {
      background-color: var(--color-pale-green);
    }

    > td {
      padding: 10px 12px;

      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        padding-right: 24px;
      }
    }
  }
}
