:root {
  --color-white: #fff;
  --color-dull-white: #f8f8f8;
  --color-black: #000;
  --color-black-20: rgb(0 0 0 / 20%);
  --color-black-50: rgb(0 0 0 / 50%);
  --color-black-60: rgb(0 0 0 / 60%);
  --color-text-dark: #343434;
  --color-light-dark: #555;
  --color-text-gray: #9a9a9a;
  --color-soft-gray: #d2d2d2;
  --color-light-gray: #eae8e8;
  --color-hero-pc-border: #c9c9c9;
  --color-input-background: #f0f0f0;
  --color-page-background: rgb(240 240 240 / 100%);
  --color-page-background-alpha: rgb(240 240 240 / 50%);
  --color-background-green: #18e107;
  --color-gradient-header-start: #545454;
  --color-gradient-header-end: #171717;
  --color-gradient-green-start: #ebff00;
  --color-gradient-green-end: #61ff00;
  --color-gradient-green-passing-point: #daff03;
  --color-gradient-silver-start: #fafafa;
  --color-gradient-silver-end: #f0f0f0;
  --color-link-green: #67a700;
  --color-gray-alpha: rgb(133 133 133 / 80%);
  --color-code-tag-background: #eff1f2;
  --color-pale-green: #f6ffe8;
  --color-pale-yellow: #fefaeb;
  --color-yellow: #ffd95c;
  --color-brown: #6c3038;
  --color-vivid-red: #fb2b50;
  --margin-top-article-section-sp: 25px;
  --margin-top-article-section-pc: 40px;

  /* react-responsive-pagination関連 */
  --pagination-color: #67a700;
  --pagination-hover-color: #67a700;
}
