:root {
  --color-white: #fff;
  --color-text-dark: #343434;
  --color-text-gray: #9a9a9a;
  --color-page-background: #f0f0f0;
  --color-background-green: #18e107;
  --color-gradient-header-start: #545454;
  --color-gradient-header-end: #171717;
}
