.layoutContainer {
  width: 100%;

  > .sidebar {
    margin-top: 32px;
  }
}

@media (width >= 1000px) {
  .layoutContainer {
    display: flex;
    gap: 48px;
    max-width: 1350px;
    padding: 48px 24px 0;
    margin: 0 auto;

    > .header {
      display: none;
    }

    > .main {
      flex: 7.2;
    }

    > .sidebar {
      flex: 2.8;
      min-width: 330px;
      margin-top: 0;
    }
  }
}
