.layoutContainer {
  width: 100%;

  > .main {
    background-color: lightblue;
  }
}

@media (width >= 768px) {
  .layoutContainer {
    display: flex;
    gap: 48px;
    max-width: 1280px;
    padding-top: 96px;
    margin: 0 auto;

    > .header {
      display: none;
    }

    > .main {
      flex: 7;
    }

    > .sidebar {
      flex: 3;
    }
  }
}
