.mainContent {
  flex: 1;

  > .inner {
    width: 100%;

    > .sidebar {
      margin-top: 32px;
    }
  }
}

.footerContainer {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

@media (--pc) {
  .mainContent {
    > .inner {
      --padding-base: 48px;

      display: flex;
      gap: 48px;
      max-width: 1350px;
      padding: var(--padding-base) calc(var(--padding-base) / 2) 0;
      margin: 0 auto;

      > .main {
        flex: 7.2;
      }

      > .sidebar {
        position: sticky;
        top: var(--padding-base);
        flex: 2.8;
        min-width: 330px;
        max-height: calc(100vh - var(--padding-base) * 2);
        margin-top: 0;
      }
    }
  }

  .footerContainer {
    padding: 48px 0;
  }

  .backgroundPattern {
    position: fixed;
    inset: 0;
    z-index: -1; /* TODO: 一箇所にまとめたほうが良さそう */
    display: block;

    > .overlay {
      position: absolute;
      inset: 0;
      background-color: var(--color-page-background-alpha);
    }
  }
}
