.articleInfo {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: GreycliffCF, sans-serif;
  letter-spacing: 0.02em;

  &.WhiteStyle {
    color: var(--color-white);
    fill: var(--color-white);
  }
}

.sectionCommonStyle {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: solid 0.5px;

  &.NoBorder {
    border-bottom: none;
  }
}

.createdAt {
  gap: 4px;
}

.updatedAt {
  gap: 2px;
}

.commentCount {
  gap: 4px;
}

.iconSize {
  width: 12px;
  height: 12px;

  &.Large {
    width: 16px;
    height: 16px;
  }
}

@media (--pc) {
  .articleInfo {
    gap: 24px;
  }

  .iconSize {
    width: 16px;
    height: 16px;

    &.Large {
      width: 18px;
      height: 18px;
    }
  }
}
