:root {
  --table-of-contents-section-top-height: 21px;
}

.tableOfContents {
  position: relative;
  padding: var(--table-of-contents-section-top-height) 12px 10px;
  overflow: hidden;
  line-height: 1.2;
  background: linear-gradient(
    to bottom,
    var(--color-gradient-silver-start) 0%,
    var(--color-gradient-silver-end) 100%
  );
  border: solid 1px var(--color-border-gray);
  border-radius: 16px;

  > .main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px 12px;
    background-color: var(--color-white);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

.headingH3 {
  padding-left: 20px;
}

.headingH4 {
  padding-left: 40px;
}

.sectionTop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;

  > .heading {
    width: 105px;
    height: var(--table-of-contents-section-top-height);
    padding: 5px 18px;
    background: linear-gradient(
      to right,
      var(--color-gradient-green-start) 0%,
      var(--color-gradient-green-passing-point) 100%
    );
    border-radius: 4px;
    transform: skew(-28deg);

    > .inner {
      position: relative;

      &::after {
        position: absolute;
        top: -4px;
        font-family: Gabarito, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: var(--color-black);
        content: "Contents";
        transform: skew(28deg);
      }
    }
  }

  > .minutes {
    display: flex;
    gap: 4px;
    align-items: center;

    > .icon {
      width: 10px;
      height: 10px;
      fill: var(--color-text-gray);
    }

    > .text {
      @mixin noto-sans-text-adjust;

      font-size: 10px;
      color: var(--color-text-gray);
    }
  }
}
