---
import HeaderPC from "@/components/layout/sidebar/HeaderPC"
import Infobar from "@/components/layout/sidebar/Infobar"
import styles from "@/components/layout/sidebar/Sidebar.module.css"
import SidebarItemWithTitle from "@/components/layout/sidebar/SidebarItemWithTitle"
import Input from "@/components/parts/input/Input"
---

<div class={styles.sidebarContainer}>
  <header class={styles.header}>
    <HeaderPC />
  </header>

  <div class={styles.main}>
    <Infobar />

    <SidebarItemWithTitle title="さがす">
      <Input hasSearchIcon placeholder="キーワードを入力…" client:load />
    </SidebarItemWithTitle>
  </div>
</div>
