@import url("/src/styles/post.css");

.sidebarContainer {
  overflow: hidden;
  border-radius: 24px;

  > .header {
    display: none;
  }

  > .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
    background-color: var(--color-white);

    > .notbyai {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      > .slogan {
        font-size: 10px;
        color: var(--color-text-gray);
      }
    }
  }
}

.colorJunction {
  display: flex;
  justify-content: center;
}

@media (--pc) {
  .sidebarContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border-radius: 16px;

    > .header {
      display: block;
    }

    > .main {
      min-height: 0;
      max-height: calc(100% - 76px); /* サイドバー全体の高さ - ロゴエリアの高さ */
      padding: 16px 12px;
      overflow: auto;
    }
  }

  .scrollableOverlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    padding: 20px 0 12px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--color-white-70) 20%,
      var(--color-white) 100%
    );

    > .button {
      display: flex;
      gap: 4px;
      align-items: center;

      > .icon {
        path {
          stroke: var(--color-text-gray);
        }
      }

      > .text {
        font-size: 10px;
      }
    }
  }
}
