@import url("/src/styles/post.css");

.sidebarContainer {
  overflow: hidden;
  border-radius: 24px;

  > .header {
    display: none;
  }

  > .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
    background-color: var(--color-white);

    > .notbyai {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      > .slogan {
        font-size: 10px;
        color: var(--color-text-gray);
      }
    }
  }
}

.colorJunction {
  display: flex;
  justify-content: center;
}

@media (--pc) {
  .sidebarContainer {
    height: 100%;
    overflow: auto;
    border-radius: 16px;

    > .header {
      display: inline;
    }

    > .main {
      padding: 16px 12px;
    }
  }
}
