@import url("/src/styles/post.css");

.liTag {
  @mixin article-paragraph;

  margin-left: 30px;
  list-style-type: circle;

  > p {
    margin-top: 0; /* liタグの中身がpタグでラップされてしまうのでpタグ標準のマージンを削除 */
  }

  /* ネストされたulのスタイル */
  > ul {
    gap: 8px;
    margin-top: 0;
  }
}
