@import url("/src/styles/post.css");

.h3Tag {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  margin: var(--spacing-article-heading-sp);
  scroll-margin-top: var(--scroll-margin-top);

  > .text {
    font-size: 18px;
    font-weight: bold;
  }

  > .line {
    display: flex;
    width: 100%;
    height: 3px;
    overflow: hidden;
    border-radius: 1px;
    transform: skew(-30deg);

    > .gradient {
      flex: 2;
      height: 100%;
      background: linear-gradient(
        to right,
        var(--color-gradient-green-start) 0%,
        var(--color-gradient-green-end) 100%
      );
    }

    > .dark {
      flex: 8;
      height: 100%;
      background-color: var(--color-light-dark);
    }
  }
}

@media (--pc) {
  .h3Tag {
    gap: 10px;
    margin: var(--spacing-article-heading-h3-pc);

    > .text {
      font-size: 21px;
    }
  }
}
