---
import { Markdown } from "astro-remote"
import axios from "axios"

import ImageRow from "@/components/article/originals/image/ImageRow"
import H2 from "@/components/article/standards/heading/H2"
import Paragraph from "@/components/article/standards/Paragraph"
import Layout from "@/components/layout/Layout.astro"
import styles from "@/pages/_[articleUrlId].module.css"
import { getArticle } from "@/services/api"

import type { GetStaticPaths } from "astro"

/**
 * TODO: articleUrlId一覧を渡してあげる
 * @returns GetStaticPaths
 */
export const getStaticPaths: GetStaticPaths = () => {
  return [
    { params: { articleUrlId: "hoge" } },
    { params: { articleUrlId: "piyo" } },
    { params: { articleUrlId: "fuga" } }
  ]
}

const articleData = await getArticle(1)
console.log(articleData)

const url = "https://strapi.dagashi.pw/api/articles/3"
const response = await axios.get(url)
const content = response.data.data.attributes.body
---

<Layout title="記事タイトル | 麩菓子の雑記帳">
  <div class={styles.articlePageMain}>
    {/* 記事本文エリア */}
    <div class={styles.body}>
      <Markdown
        components={{
          h2: H2,
          p: Paragraph,
          ImageRow
        }}
        content={content}
        sanitize={{
          allowComponents: true
        }}
      />

      <p class={styles.built}>この記事は 2024/04/29 13:35:41 にビルドされました</p>
    </div>
    {/* TODO: コメントエリア */}
  </div>
</Layout>
