---
import Layout from "@/components/layout/Layout.astro"
import styles from "@/pages/[articleUrlId].module.css"
import { getArticle } from "@/services/api"

/** TODO: articleUrlId一覧を渡してあげる */
export const getStaticPaths = () => {
  return [
    { params: { articleUrlId: "hoge" } },
    { params: { articleUrlId: "piyo" } },
    { params: { articleUrlId: "fuga" } }
  ]
}

const articleData = await getArticle(1)
console.log(articleData)
---

<Layout title="記事タイトル | 麩菓子の雑記帳">
  <div class={styles.articlePageMain}>
    {/* 記事本文エリア */}
    <div class={styles.body}>
      <p>
        それは今どうしてもその講義人という訳の以上をしますだ。同時に昔に構成院はどうもこの尊重ななまでのあるばいたくをは持ありましなが、そうにもしなけれますでない。習慣に思いないものははなはだ昨日がよくたないた。よしネルソン君に発展教師しっかり意見を越せまし文芸どんな道具私か附随にというご活動でただろまして、その十一月は私か顔日本人にありて、木下さんのものに客のそこにはなはだご汚辱ともっであなた人格をご横着をしようとけっしてお批評を倒さうだって、勢いいったん会得の云いますていたものに充たすないな。それでまた不神経に上げよのはあまり立派となっんが、その気には通じあっがという文学でなれているなませ。
      </p>
      <h2 style="font-weight: bold; font-size: 28px;margin: 16px 0;">見出しなのだ</h2>
      <p>
        それは今どうしてもその講義人という訳の以上をしますだ。同時に昔に構成院はどうもこの尊重ななまでのあるばいたくをは持ありましなが、そうにもしなけれますでない。習慣に思いないものははなはだ昨日がよくたないた。よしネルソン君に発展教師しっかり意見を越せまし文芸どんな道具私か附随にというご活動でただろまして、その十一月は私か顔日本人にありて、木下さんのものに客のそこにはなはだご汚辱ともっであなた人格をご横着をしようとけっしてお批評を倒さうだって、勢いいったん会得の云いますていたものに充たすないな。それでまた不神経に上げよのはあまり立派となっんが、その気には通じあっがという文学でなれているなませ。
      </p>

      <p class={styles.built}>この記事は 2024/04/29 13:35:41 にビルドされました</p>
    </div>
    {/* TODO: コメントエリア */}
  </div>
</Layout>
