@import url("/src/styles/post.css");

.pageList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  background-color: var(--color-white);
}

@media (--pc) {
  .pageList {
    gap: 32px;
    border-radius: 16px;
  }
}
