---
import Layout from "@/components/layout/Layout.astro"
import ArticleCard from "@/components/parts/card/ArticleCard"
import DividerHorizontal from "@/components/parts/common/DividerHorizontal"
import { PAGE_NAME } from "@/constants/page"
import styles from "@/pages/index.module.css"
import { getAllArticlesWithPagination } from "@/services/api"
import { formatArticleInfo } from "@/utils/formatArticleInfo"
import { isDefined } from "@/utils/isDefined"

const articles = await getAllArticlesWithPagination(1)

if (!isDefined(articles)) {
  throw new Error("ページ情報が存在しません")
}

const articleInfoList = articles.filter(isDefined).map(article => {
  return formatArticleInfo(article)
})
---

<Layout title={PAGE_NAME.TOP}>
  <div class={styles.pageList}>
    {
      articleInfoList.map((article, index) => (
        <>
          <ArticleCard {...article} />
          {index !== articleInfoList.length - 1 && <DividerHorizontal />}
        </>
      ))
    }
  </div>
</Layout>
