/* Container */
.umamiControl {
  display: grid;
  place-items: center;
  height: 100vh;

  > .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    > .button {
      padding: 1rem 2rem;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      background-color: #0a83ff;
      border: none;
      border-radius: 8px;
    }
  }
}
