.heightAdjustedImage {
  @mixin section-article-common-spacing;

  &.HasCaption {
    margin-bottom: calc(
      var(--spacing-article-parts-common-sp) + 12px
    ); /* なぜかキャプションの高さが相殺されるので仕方なくトリッキーな指定をしている */
  }

  > .figure {
    display: flex;
    justify-content: center;
    max-height: 500px;
  }

  > .caption {
    margin-top: 10px;
  }
}

.pictureTag {
  display: flex;
  justify-content: center;
}

@media (--pc) {
  .heightAdjustedImage {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    &.HasCaption {
      margin-bottom: calc(
        var(--spacing-article-parts-common-pc) + 16px
      ); /* なぜかキャプションの高さが相殺されるので仕方なくトリッキーな指定をしている */
    }

    > .figure {
      max-height: unset;
    }
  }

  .height100 {
    height: 100%;
  }
}
