@import url("/src/styles/post.css");

.heightAdjustedImage {
  @mixin article-section-margin;
}

@media (--pc) {
  .heightAdjustedImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    text-align: center;

    > .image {
      max-height: 100%;
    }
  }
}
