.heightAdjustedImage {
  @mixin section-article-common-spacing;

  display: flow-root;

  &:has(figcaption) {
    margin-bottom: calc(
      var(--spacing-article-parts-common-sp) + 12px
    ); /* なぜかfigcaptionの高さが相殺されるので仕方なくトリッキーな指定をしている */
  }
}

@media (--pc) {
  .heightAdjustedImage {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    &:has(figcaption) {
      margin-bottom: calc(
        var(--spacing-article-parts-common-pc) + 16px
      ); /* なぜかfigcaptionの高さが相殺されるので仕方なくトリッキーな指定をしている */
    }

    > .figure {
      display: flex;
      justify-content: center;
    }
  }

  .height100 {
    height: 100%;
  }
}
