.imageTextRow {
  display: flex;
  flex-direction: column;

  @mixin section-article-common-spacing;

  > .figure {
    text-align: center;
  }

  > .text {
    @mixin article-paragraph;
    @mixin section-article-common-spacing;

    white-space: pre-wrap;
  }
}

@media (--pc) {
  .imageTextRow {
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: space-between;

    > .text {
      flex: 1;
      margin-top: 0;
    }
  }
}
