.commentList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.replyList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 16px;
  margin-top: 12px;
}

.showMore {
  margin-top: 24px;
}

@media (--pc) {
  .commentList {
    gap: 24px;
  }

  .replyList {
    gap: 16px;
    margin-top: 16px;
  }
}
