@import url("/src/styles/post.css");

.blockquoteTag {
  position: relative;

  @mixin section-article-common-spacing;

  > .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: var(--color-text-gray);
    border-radius: 4px;
  }

  > p {
    /* なぜかastro-remoteがchildrenをpタグでラップして渡してくるので仕方なくタグ直指定 */
    padding: 4px 0 4px 22px;
    margin-top: 0; /* pタグは勝手にParagraphコンポーネントに変換され、そのParagraphコンポーネントにはmargin-topが付与されているのでここで打ち消す */
    color: var(--color-light-dark);
  }
}
