.linkInArticle {
  width: fit-content;
  color: var(--color-link-green);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--color-link-green-visited);
  }
}
