.tableTag {
  position: relative;
  overflow-x: auto;
  border-radius: 4px;

  @mixin section-article-common-spacing;

  > .main {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;

    > thead {
      color: var(--color-white);
      background: linear-gradient(
        to bottom,
        var(--color-gradient-header-start) 0%,
        var(--color-gradient-header-end) 100%
      );

      > tr {
        > th {
          padding: 10px 12px;
          font-weight: normal;

          &:first-child {
            padding-left: 24px;
          }

          &:last-child {
            padding-right: 24px;
          }
        }
      }
    }

    > tbody {
      @mixin tbody-common;
    }
  }
}
