.commonViewContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 24px 32px;
  background-color: var(--color-white);
  border-radius: 24px;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
